$maroon: rgb(72, 0, 27);
$gold: rgb(255, 215, 0);
$purple: rgb(42, 13, 53);

body#admin {
    display: block;
    height: unset;
    margin-bottom: 48px;

    &>a:first-child {
        img {
            max-width: 200px;
            margin-top: 32px;
        }
    }

    #content {
        margin-top: 32px;
        height: initial;
        text-align: center;
        padding: 0px 16px;
        max-width: 600px;

        img.mvfc-logo {
            max-width: 400px;
            width: 80%;
        }

        .logo-container {
            font-size: 24px;

            h3 {
                line-height: 32px;
                margin-bottom: 0;
            }
        }

        input,
        select {
            width: 100%;
            display: block;
        }


        label {
            margin-bottom: 8px;
        }

        table {

            td:last-child {
                display: flex;
            }

            label {
                margin-right: 6px;

            }
        }

        &>h2:nth-of-type(1) {
            font-size: 16px;
            background-color: white;
            color: $maroon;
            padding: 12px 24px;
            border-radius: 8px;
            line-height: 2.5rem;
        }

        &>h3 {
            padding: 24px 0;
        }

        &>h1 {
            padding-top: 36px;
        }

        .d-grid.gap-2.col-6.mx-auto {
            width: 100%;

            .btn {
                width: 100%;
            }
        }

    }

    #footer {
        margin-top: 32px;
        position: relative;
        font-size: 12px;

        div {
            margin-bottom: 16px;
        }
    }


}


@media (max-width:1024px) {

    body#admin {}

}