body#feedback-login {
    #content {
        .logo-container {
            padding-top: 32px;

            .mvfc-logo {
                max-width: 300px;
            }
        }

        .form-error {
            text-align: center;
            display: block;
            margin-bottom: 36px;
        }
    }
}