$maroon: rgb(72, 0, 27);
$gold: rgb(255, 215, 0);
$purple: rgb(42, 13, 53);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin shadow {
    box-shadow: 4px -12px 36px rgba(0, 0, 0, 0.3);
}

body#feedback-list {
    padding: 24px 0;
    // font-size: 3rem;


    .logo-container {
        img {
            max-width: 150px;
            margin-top: 32px;
            width: 1000px;
        }

        h3 {
            display: none;
        }
    }

    #content {
        text-align: center;
        padding: 0 16px;

        a {

            display: block;
            text-decoration: none;
            margin: 24px auto;
            padding: 16px;
            text-align: center;
            width: 100%;

            background-color: $maroon;
            color: white;
            font-weight: bold;
            @include shadow;
            display: block;

            border-radius: 16px;

            &.btn {
                color: $maroon;
                background-color: $gold;
            }
        }

        br {
            display: none;
        }
    }
}