body#grader {
    display: block;
    height: unset;

    &>a:first-child {
        img {
            max-width: 200px;
        }
    }

    #content {
        margin-top: 32px;
        height: initial;
        text-align: center;

        img.mvfc-logo {
            max-width: 400px;
            width: 80%;
        }

        .logo-container {
            font-size: 24px;

            h3 {
                line-height: 32px;
                margin-bottom: 0;
            }
        }

        input,
        select {
            width: 100%;
            display: block;
            margin-bottom: 8px;
        }

    }

    #content.grader-registration {
        height: 100vh;
        flex-direction: row !important;
        margin-top: unset;

        .left,
        .right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        $leftWidth: 50%;

        .left {
            width: $leftWidth;
        }

        .right {
            width: calc(100% - $leftWidth);
        }

    }

    #footer {
        margin-top: 32px;
        position: relative;
        font-size: 12px;

        div {
            margin-bottom: 16px;
        }
    }


}


@media (max-width:1024px) {

    body#grader {

        #content.grader-registration {

            height: unset;

            .left,
            .right {
                width: unset;
            }

            .logo-container {
                img.mvfc-logo {
                    max-width: 200px !important;
                }

                h3 {
                    display: none !important;
                }

                margin-bottom: 20px !important;
            }

        }

    }

}