body#home {
    height: 100vh;

    #content {
        margin-top: 15vh;

        img.mvfc-logo {
            max-width: 400px;
            width: 80%;
        }

        .logo-container {
            font-size: 24px;

            h3 {
                line-height: 32px;
                margin-bottom: 0;
            }
        }

    }

}


@media (max-width:768px) {

    body#home {
        display: block;
        height: unset;

        #content {
            margin-top: 32px;
            height: initial;
        }

        #content.player-lookup {

            height: unset;

            .left,
            .right {
                width: unset;
            }

            .logo-container {
                img.mvfc-logo {
                    max-width: 200px !important;
                }

                h3 {
                    display: none !important;
                }

                margin-bottom: 20px !important;
            }


        }
    }

}