body#register {

    #content {
        height: 100vh;
        flex-direction: row !important;

        .left,
        .right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        $leftWidth: 50%;

        .left {
            width: $leftWidth;
        }

        .right {
            width: calc(100% - $leftWidth);
        }

    }
}


@media (max-width:1024px) {
    body#register {

        .logo-container {
            img.mvfc-logo {
                max-width: 200px !important;
            }

            h3 {
                display: none !important;
            }

            margin-bottom: 20px !important;
        }

        #content {

            height: unset;

            .left,
            .right {
                width: unset;
            }

        }
    }
}