body#home {
    #content {
        .register-success {
            text-align: center;
            max-width: 80%;
            margin: auto;

            .logo-container {
                margin-bottom: 42px !important;
            }
        }
    }
}