body.register {

    #content {

        .left,
        .right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        $leftWidth: 50%;

        .left {
            width: $leftWidth;
        }

        .right {
            width: calc(100% - $leftWidth);
        }

    }
}


@media (max-width:575px) {
    body.register {

        #content {

            .left,
            .right {
                width: unset;
            }
            
        }
    }
}